<div>
  <!-- <hello name="{{ name }}"></hello>
  <p>Start editing to see some magic happen :)</p> -->
  <mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
      <mat-list>
        <button (click)="opened = !opened" class="menu-btn">X</button>
        <mat-list-item class="list" (click)="opened2 = !opened2"
          >Table1</mat-list-item
        >
        <mat-list-item class="list">Table2</mat-list-item>
      </mat-list>
    </mat-sidenav>
    <a (click)="opened = !opened">Open</a>
  </mat-sidenav-container>

  <mat-sidenav-container>
    <mat-sidenav [(opened)]="opened2" mode="side">
      <mat-list>
        <mat-list-item class="list">Table1</mat-list-item>
        <mat-list-item class="list">Table2</mat-list-item>
      </mat-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
