<mat-toolbar>
  <div class="mat-tool">
    <span>My App</span>
  </div>
</mat-toolbar>

<div>
  <!-- <hello name="{{ name }}"></hello>
  <p>Start editing to see some magic happen :)</p> -->
  <mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
      <mat-list>
        <button
          mat-raised-button
          color="primary"
          (click)="opened = !opened"
          class="menu-btn"
        >
          X
        </button>
        <mat-list-item
          routerLink="/child1"
          routerLinkActive="active"
          class="list"
          color="primary"
          (click)="opened2 = !opened2"
          >Table1</mat-list-item
        >
        <mat-list-item
          routerLink="/child2"
          routerLinkActive="active"
          class="list"
          >Table2</mat-list-item
        >
      </mat-list>
    </mat-sidenav>
    <button mat-raised-button color="primary" (click)="opened = !opened">
      Open
    </button>
  </mat-sidenav-container>

  <div class="div-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
