<div>
  <!-- <hello name="{{ name }}"></hello>
  <p>Start editing to see some magic happen :)</p> -->
  <mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
      <mat-list>
        <a (click)="opened = !opened" class="menu-btn">X</a>
        <mat-list-item
          routerLink="/child1"
          routerLinkActive="active"
          class="list"
          (click)="opened2 = !opened2"
          >Table1</mat-list-item
        >
        <mat-list-item
          routerLink="/child2"
          routerLinkActive="active"
          class="list"
          >Table2</mat-list-item
        >
      </mat-list>
    </mat-sidenav>
    <button (click)="opened = !opened">Open</button>
  </mat-sidenav-container>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
